<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarFilmes</servlet-name>
        <servlet-class>Controle.ListarFilmes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAtores</servlet-name>
        <servlet-class>Controle.ListarAtores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopFilme</servlet-name>
        <servlet-class>Controle.PopFilme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopAtor</servlet-name>
        <servlet-class>Controle.PopAtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>Controle.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleFilme</servlet-name>
        <servlet-class>Controle.ControleFilme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAtor</servlet-name>
        <servlet-class>Controle.ControleAtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopUsuario</servlet-name>
        <servlet-class>Controle.PopUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaAtor</servlet-name>
        <servlet-class>Controle.NotaAtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaFilme</servlet-name>
        <servlet-class>Controle.NotaFilme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>Controle.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>Controle.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUsuario</servlet-name>
        <servlet-class>Controle.LogoutUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarFilmes</servlet-name>
        <url-pattern>/ListarFilmes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAtores</servlet-name>
        <url-pattern>/ListarAtores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopFilme</servlet-name>
        <url-pattern>/PopFilme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopAtor</servlet-name>
        <url-pattern>/PopAtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleFilme</servlet-name>
        <url-pattern>/ControleFilme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAtor</servlet-name>
        <url-pattern>/ControleAtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopUsuario</servlet-name>
        <url-pattern>/PopUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaAtor</servlet-name>
        <url-pattern>/NotaAtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaFilme</servlet-name>
        <url-pattern>/NotaFilme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUsuario</servlet-name>
        <url-pattern>/LogoutUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
